```
# LangGraph checkpoints and state
.langgraph_api/.langgraph_checkpoint*.pckl
.langgraph_api/.langgraph_ops.pckl
.langgraph_api/.langgraph_retry_counter.pckl
.langgraph_api/store.pckl
.langgraph_api/store.vectors.pckl
```